<!DOCTYPE html>
<html lang ="ru">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>UGift</title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: white">
    <div style="width: 1920px; height: 1089px; left: 0px; top: 0px; position: absolute; background: #EFC3C6"></div>
    <div style="width: 48px; height: 48px; left: 1812px; top: 60px; position: absolute">
        <div style="width: 36px; height: 24px; left: 6px; top: 12px; position: absolute; background: black"></div>
    </div>
    <div style="width: 40px; height: 32px; left: 60px; top: 160px; position: absolute; border: 4px #33363F solid"></div>
    <img style="width: 666px; height: 777px; left: 260px; top: 252px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/666x777" />
    <img style="width: 180px; height: 220px; left: 60px; top: 252px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/180x220" />
    <img style="width: 180px; height: 220px; left: 60px; top: 492px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/180x220" />
    <img style="width: 180px; height: 220px; left: 60px; top: 732px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/180x220" />
    <img style="width: 180px; height: 57px; left: 60px; top: 972px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/180x57" />
    <div style="width: 60px; height: 60px; left: 120px; top: 928px; position: absolute; background: white; border-radius: 9999px"></div>
    <div style="width: 60px; height: 60px; left: 280px; top: 611px; position: absolute; background: white; border-radius: 9999px"></div>
    <div style="width: 60px; height: 60px; left: 846px; top: 611px; position: absolute; background: white; border-radius: 9999px"></div>
    <div style="width: 32px; height: 32px; left: 294px; top: 625px; position: absolute">
        <div style="width: 20px; height: 16px; left: 5.33px; top: 8px; position: absolute; border: 2px #33363F solid"></div>
    </div>
    <div style="width: 32px; height: 32px; left: 134px; top: 942px; position: absolute">
        <div style="width: 20px; height: 16px; left: 8px; top: 26.67px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #33363F solid"></div>
    </div>
    <div style="width: 32px; height: 32px; left: 860px; top: 625px; position: absolute">
        <div style="width: 20px; height: 16px; left: 26.67px; top: 8px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 2px #33363F solid"></div>
    </div>
    <div style="width: 746px; left: 1046px; top: 252px; position: absolute; color: rgba(0, 0, 0, 0.80); font-size: 40px; font-family: Montserrat Alternates; font-weight: 600; word-wrap: break-word">Подарочный набор сюрприз бокс для девочки BOX SMALL</div>
    <div style="left: 1046px; top: 370px; position: absolute; color: rgba(0, 0, 0, 0.80); font-size: 40px; font-family: Montserrat Alternates; font-weight: 700; word-wrap: break-word">1 619 руб.</div>
    <div style="left: 1046px; top: 479px; position: absolute; color: rgba(0, 0, 0, 0.80); font-size: 32px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">Some text :)</div>
    <div style="left: 986px; top: 926px; position: absolute; color: rgba(0, 0, 0, 0.80); font-size: 20px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">Нажмите, чтобы перейти в магазин</div>
    <div style="padding-left: 40px; padding-right: 40px; padding-top: 10px; padding-bottom: 10px; left: 1297px; top: 970px; position: absolute; background: white; border-radius: 50px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="color: rgba(0, 0, 0, 0.80); font-size: 32px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">Ozon</div>
    </div>
    <div style="padding-left: 40px; padding-right: 40px; padding-top: 10px; padding-bottom: 10px; left: 986px; top: 970px; position: absolute; background: white; border-radius: 50px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="color: rgba(0, 0, 0, 0.80); font-size: 32px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">Wildberries</div>
    </div>
    <div style="padding-left: 40px; padding-right: 40px; padding-top: 10px; padding-bottom: 10px; left: 1502px; top: 970px; position: absolute; background: white; border-radius: 50px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="color: rgba(0, 0, 0, 0.80); font-size: 32px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">Яндекс Маркет</div>
    </div>
    <div style="width: 1920px; height: 298px; left: 0px; top: 1089px; position: absolute">
        <div style="width: 1920px; height: 298px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <div style="left: 148px; top: 75px; position: absolute; color: black; font-size: 48px; font-family: JetBrains Mono; font-weight: 400; word-wrap: break-word">UniqueGift</div>
        <div style="left: 60px; top: 138px; position: absolute; color: black; font-size: 40px; font-family: Joan; font-weight: 400; word-wrap: break-word">21.11.24</div>
        <div style="left: 837px; top: 207px; position: absolute; color: black; font-size: 24px; font-family: Joan; font-weight: 400; word-wrap: break-word">ООО «chen’ krutoi sait»</div>
        <div style="width: 182.40px; height: 48px; left: 1677px; top: 60px; position: absolute">
            <div style="width: 48px; height: 48px; left: 134.40px; top: 0px; position: absolute; background: black"></div>
            <div style="width: 48px; height: 48px; left: 67.20px; top: 0px; position: absolute; background: black"></div>
            <div style="width: 48px; height: 48px; left: 0px; top: 0px; position: absolute; background: black"></div>
        </div>
        <img style="width: 78px; height: 78px; left: 60px; top: 60px; position: absolute" src="https://via.placeholder.com/78x78" />
        <img style="width: 272px; height: 272px; left: 9474px; top: 1000px; position: absolute" src="https://via.placeholder.com/272x272" />
    </div>
    <img style="width: 60px; height: 60px; left: 60px; top: 60px; position: absolute" src="https://via.placeholder.com/60x60" />
</div>
</body>
</html>
