<!DOCTYPE html>
<html lang ="ru">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>UGift</title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: white">
    <div style="width: 1920px; height: 1609px; left: 0px; top: 0px; position: absolute; background: #FCE2AF"></div>
    <div style="width: 48px; height: 48px; left: 1812px; top: 60px; position: absolute">
        <div style="width: 36px; height: 24px; left: 6px; top: 12px; position: absolute; background: black"></div>
    </div>
    <div style="width: 40px; height: 32px; left: 60px; top: 160px; position: absolute; border: 4px #33363F solid"></div>
    <div style="left: 856px; top: 252px; position: absolute; color: rgba(0, 0, 0, 0.80); font-size: 40px; font-family: Montserrat Alternates; font-weight: 700; word-wrap: break-word">КАТАЛОГ</div>
    <div style="width: 46px; height: 46px; left: 1758px; top: 370px; position: absolute">
        <div style="width: 11.50px; height: 11.50px; left: 7.67px; top: 7.67px; position: absolute; border-radius: 1px; border: 2px #33363F solid"></div>
        <div style="width: 11.50px; height: 11.50px; left: 7.67px; top: 26.83px; position: absolute; border-radius: 1px; border: 2px #33363F solid"></div>
        <div style="width: 11.50px; height: 11.50px; left: 26.83px; top: 26.83px; position: absolute; border-radius: 1px; border: 2px #33363F solid"></div>
        <div style="width: 11.50px; height: 11.50px; left: 26.83px; top: 7.67px; position: absolute; border-radius: 1px; border: 2px #33363F solid"></div>
    </div>
    <div style="width: 36px; height: 36px; left: 1824px; top: 376px; position: absolute">
        <div style="width: 9.47px; height: 9.47px; left: 0px; top: 0px; position: absolute; border-radius: 1px; border: 1px #33363F solid"></div>
        <div style="width: 9.47px; height: 9.47px; left: 13.26px; top: 0px; position: absolute; border-radius: 1px; border: 1px #33363F solid"></div>
        <div style="width: 9.47px; height: 9.47px; left: 26.53px; top: 0px; position: absolute; border-radius: 1px; border: 1px #33363F solid"></div>
        <div style="width: 9.47px; height: 9.47px; left: 26.53px; top: 13.26px; position: absolute; border-radius: 1px; border: 1px #33363F solid"></div>
        <div style="width: 9.47px; height: 9.47px; left: 13.26px; top: 13.26px; position: absolute; border-radius: 1px; border: 1px #33363F solid"></div>
        <div style="width: 9.47px; height: 9.47px; left: 0px; top: 13.26px; position: absolute; border-radius: 1px; border: 1px #33363F solid"></div>
        <div style="width: 9.47px; height: 9.47px; left: 0px; top: 26.53px; position: absolute; border-radius: 1px; border: 1px #33363F solid"></div>
        <div style="width: 9.47px; height: 9.47px; left: 13.26px; top: 26.53px; position: absolute; border-radius: 1px; border: 1px #33363F solid"></div>
        <div style="width: 9.47px; height: 9.47px; left: 26.53px; top: 26.53px; position: absolute; border-radius: 1px; border: 1px #33363F solid"></div>
    </div>
    <div style="padding-left: 25px; padding-right: 25px; padding-top: 18px; padding-bottom: 18px; left: 475px; top: 361px; position: absolute; background: white; border-radius: 50px; justify-content: flex-start; align-items: center; gap: 15px; display: inline-flex">
        <div style="color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">ПО ПОПУЛЯРНОСТИ</div>
        <div style="width: 28px; height: 28px; position: relative">
            <div style="width: 7px; height: 14px; left: 21px; top: 17.50px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #33363F solid"></div>
        </div>
    </div>
    <div style="padding-left: 25px; padding-right: 25px; padding-top: 18px; padding-bottom: 18px; left: 833px; top: 361px; position: absolute; background: white; border-radius: 50px; justify-content: flex-start; align-items: center; gap: 15px; display: inline-flex">
        <div style="color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">ЦЕНА</div>
        <div style="width: 28px; height: 28px; position: relative">
            <div style="width: 7px; height: 14px; left: 21px; top: 17.50px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #33363F solid"></div>
        </div>
    </div>
    <div style="padding-left: 25px; padding-right: 25px; padding-top: 18px; padding-bottom: 18px; left: 1028px; top: 361px; position: absolute; background: white; border-radius: 50px; justify-content: flex-start; align-items: center; gap: 15px; display: inline-flex">
        <div style="color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">КАТЕГОРИЯ</div>
        <div style="width: 28px; height: 28px; position: relative">
            <div style="width: 7px; height: 14px; left: 21px; top: 17.50px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #33363F solid"></div>
        </div>
    </div>
    <div style="padding-left: 25px; padding-right: 25px; padding-top: 18px; padding-bottom: 18px; left: 1287px; top: 361px; position: absolute; background: white; border-radius: 50px; justify-content: flex-start; align-items: center; gap: 15px; display: inline-flex">
        <div style="color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">КОМУ</div>
        <div style="width: 28px; height: 28px; position: relative">
            <div style="width: 7px; height: 14px; left: 21px; top: 17.50px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #33363F solid"></div>
        </div>
    </div>
    <div style="width: 435px; height: 522px; left: 60px; top: 1027px; position: absolute">
        <div style="width: 435px; height: 522px; left: 0px; top: 0px; position: absolute; background: #EFC3C6; border-radius: 20px"></div>
        <div style="left: 20px; top: 404px; position: absolute; color: black; font-size: 28px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">1 016 руб.</div>
        <img style="width: 395px; height: 315px; left: 20px; top: 20px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/395x315" />
        <div style="left: 20px; top: 355px; position: absolute; color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Набор чая</div>
        <div style="width: 395px; height: 44px; padding: 10px; left: 20px; top: 458px; position: absolute; background: white; border-radius: 50px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">ПЕРЕЙТИ В МАГАЗИН</div>
        </div>
    </div>
    <div style="width: 435px; height: 522px; left: 515px; top: 485px; position: absolute">
        <div style="width: 435px; height: 522px; left: 0px; top: 0px; position: absolute; background: #EFC3C6; border-radius: 20px"></div>
        <div style="left: 20px; top: 404px; position: absolute; color: black; font-size: 28px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">473 руб.</div>
        <img style="width: 395px; height: 315px; left: 20px; top: 20px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/395x315" />
        <div style="left: 20px; top: 355px; position: absolute; color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Подарочный набор</div>
        <div style="width: 395px; height: 44px; padding: 10px; left: 20px; top: 458px; position: absolute; background: white; border-radius: 50px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">ПЕРЕЙТИ В МАГАЗИН</div>
        </div>
    </div>
    <div style="width: 435px; height: 522px; left: 60px; top: 485px; position: absolute">
        <div style="width: 435px; height: 522px; left: 0px; top: 0px; position: absolute; background: #EFC3C6; border-radius: 20px"></div>
        <div style="left: 20px; top: 404px; position: absolute; color: black; font-size: 28px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">347 руб.</div>
        <img style="width: 395px; height: 315px; left: 20px; top: 20px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/395x315" />
        <div style="left: 20px; top: 355px; position: absolute; color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Набор кремов для рук, 5 шт.</div>
        <div style="width: 395px; height: 44px; padding: 10px; left: 20px; top: 458px; position: absolute; background: white; border-radius: 50px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">ПЕРЕЙТИ В МАГАЗИН</div>
        </div>
    </div>
    <div style="width: 435px; height: 522px; left: 515px; top: 1027px; position: absolute">
        <div style="width: 435px; height: 522px; left: 0px; top: 0px; position: absolute; background: #EFC3C6; border-radius: 20px"></div>
        <div style="left: 20px; top: 404px; position: absolute; color: black; font-size: 28px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">1 219 руб.</div>
        <img style="width: 395px; height: 315px; left: 20px; top: 20px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/395x315" />
        <div style="left: 20px; top: 355px; position: absolute; color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Кулон</div>
        <div style="width: 395px; height: 44px; padding: 10px; left: 20px; top: 458px; position: absolute; background: white; border-radius: 50px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">ПЕРЕЙТИ В МАГАЗИН</div>
        </div>
    </div>
    <div style="width: 435px; height: 522px; left: 970px; top: 485px; position: absolute">
        <div style="width: 435px; height: 522px; left: 0px; top: 0px; position: absolute; background: #EFC3C6; border-radius: 20px"></div>
        <div style="left: 20px; top: 404px; position: absolute; color: black; font-size: 28px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">479 руб.</div>
        <img style="width: 395px; height: 315px; left: 20px; top: 20px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/395x315" />
        <div style="left: 20px; top: 355px; position: absolute; color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Набор для виски</div>
        <div style="width: 395px; height: 44px; padding: 10px; left: 20px; top: 458px; position: absolute; background: white; border-radius: 50px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">ПЕРЕЙТИ В МАГАЗИН</div>
        </div>
    </div>
    <div style="width: 435px; height: 522px; left: 970px; top: 1027px; position: absolute">
        <div style="width: 435px; height: 522px; left: 0px; top: 0px; position: absolute; background: #EFC3C6; border-radius: 20px"></div>
        <div style="left: 20px; top: 404px; position: absolute; color: black; font-size: 28px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">2 787 руб.</div>
        <img style="width: 395px; height: 315px; left: 20px; top: 20px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/395x315" />
        <div style="left: 20px; top: 355px; position: absolute; color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Подарочный сюрприз</div>
        <div style="width: 395px; height: 44px; padding: 10px; left: 20px; top: 458px; position: absolute; background: white; border-radius: 50px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">ПЕРЕЙТИ В МАГАЗИН</div>
        </div>
    </div>
    <div style="width: 435px; height: 522px; left: 1425px; top: 485px; position: absolute">
        <div style="width: 435px; height: 522px; left: 0px; top: 0px; position: absolute; background: #EFC3C6; border-radius: 20px"></div>
        <div style="left: 20px; top: 404px; position: absolute; color: black; font-size: 28px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">1 619 руб.</div>
        <img style="width: 395px; height: 315px; left: 20px; top: 20px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/395x315" />
        <div style="left: 20px; top: 355px; position: absolute; color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Набор для девочки</div>
        <div style="width: 395px; height: 44px; padding: 10px; left: 20px; top: 458px; position: absolute; background: white; border-radius: 50px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">ПЕРЕЙТИ В МАГАЗИН</div>
        </div>
    </div>
    <div style="width: 435px; height: 522px; left: 1425px; top: 1027px; position: absolute">
        <div style="width: 435px; height: 522px; left: 0px; top: 0px; position: absolute; background: #EFC3C6; border-radius: 20px"></div>
        <div style="left: 20px; top: 404px; position: absolute; color: black; font-size: 28px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">549 руб.</div>
        <img style="width: 395px; height: 315px; left: 20px; top: 20px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/395x315" />
        <div style="left: 20px; top: 355px; position: absolute; color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Мыльные розы</div>
        <div style="width: 395px; height: 44px; padding: 10px; left: 20px; top: 458px; position: absolute; background: white; border-radius: 50px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">ПЕРЕЙТИ В МАГАЗИН</div>
        </div>
    </div>
    <div style="width: 1920px; height: 298px; left: 0px; top: 1609px; position: absolute">
        <div style="width: 1920px; height: 298px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <div style="left: 148px; top: 75px; position: absolute; color: black; font-size: 48px; font-family: JetBrains Mono; font-weight: 400; word-wrap: break-word">UniqueGift</div>
        <div style="left: 60px; top: 138px; position: absolute; color: black; font-size: 40px; font-family: Joan; font-weight: 400; word-wrap: break-word">21.11.24</div>
        <div style="left: 837px; top: 207px; position: absolute; color: black; font-size: 24px; font-family: Joan; font-weight: 400; word-wrap: break-word">ООО «chen’ krutoi sait»</div>
        <div style="width: 182.40px; height: 48px; left: 1677px; top: 60px; position: absolute">
            <div style="width: 48px; height: 48px; left: 134.40px; top: 0px; position: absolute; background: black"></div>
            <div style="width: 48px; height: 48px; left: 67.20px; top: 0px; position: absolute; background: black"></div>
            <div style="width: 48px; height: 48px; left: 0px; top: 0px; position: absolute; background: black"></div>
        </div>
        <img style="width: 78px; height: 78px; left: 60px; top: 60px; position: absolute" src="https://via.placeholder.com/78x78" />
        <img style="width: 272px; height: 272px; left: 9474px; top: 1000px; position: absolute" src="https://via.placeholder.com/272x272" />
    </div>
    <img style="width: 60px; height: 60px; left: 60px; top: 60px; position: absolute" src="https://via.placeholder.com/60x60" />
</div>
</body>
</html>
