<!DOCTYPE html>
<html lang ="ru">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>UGift</title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: white">
    <div style="width: 1920px; height: 1133px; left: 0px; top: 0px; position: absolute; background: #EFC3C6"></div>
    <div style="width: 1920px; height: 779px; left: 0px; top: 1735px; position: absolute; background: #EFC3C6"></div>
    <div style="width: 1920px; height: 602px; left: 0px; top: 1133px; position: absolute; background: #FCE2AF"></div>
    <div style="width: 48px; height: 48px; left: 1812px; top: 60px; position: absolute">
        <div style="width: 36px; height: 24px; left: 6px; top: 12px; position: absolute; background: black"></div>
    </div>
    <div style="left: 60px; top: 195px; position: absolute; color: black; font-size: 128px; font-family: Encode Sans; font-weight: 700; word-wrap: break-word">UGift</div>
    <div style="left: 60px; top: 395px; position: absolute; color: black; font-size: 40px; font-family: Montserrat Alternates; font-weight: 600; word-wrap: break-word">Подарки для любого случая!</div>
    <div style="width: 1192px; left: 668px; top: 1324px; position: absolute; text-align: right; color: black; font-size: 36px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">Наш сайт – это универсальный помощник в поиске идеальных подарков для любых случаев и людей. Мы собираем лучшие предложения с ведущих маркетплейсов, чтобы вы могли легко выбрать и заказать подарок онлайн.</div>
    <div style="width: 309px; height: 75px; left: 50px; top: 504px; position: absolute; background: #E24A63; border-radius: 37.50px"></div>
    <a href="/page2"><div style="left: 94px; top: 520px; position: absolute; color: white; font-size: 36px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">В КАТАЛОГ</div></a>
    <img style="width: 369px; height: 362px; left: 429px; top: 1253px; position: absolute; transform: rotate(180deg); transform-origin: 0 0" src="https://via.placeholder.com/369x362" />
    <div style="left: 60px; top: 1795px; position: absolute; color: rgba(0, 0, 0, 0.80); font-size: 40px; font-family: Montserrat Alternates; font-weight: 700; word-wrap: break-word">ВЫБЕРИТЕ ПОДАРОК ДЛЯ:</div>
    <div style="width: 400px; height: 444px; left: 130px; top: 1904px; position: absolute; background: #FCE2AF; border-radius: 20px"></div>
    <div style="width: 400px; height: 444px; left: 550px; top: 1904px; position: absolute; background: #FCE2AF; border-radius: 20px"></div>
    <div style="width: 400px; height: 444px; left: 970px; top: 1904px; position: absolute; background: #FCE2AF; border-radius: 20px"></div>
    <div style="width: 400px; height: 444px; left: 1390px; top: 1904px; position: absolute; background: #FCE2AF; border-radius: 20px"></div>
    <div style="width: 360px; height: 345px; left: 150px; top: 1924px; position: absolute; background: white; border-radius: 20px"></div>
    <div style="width: 360px; height: 345px; left: 570px; top: 1924px; position: absolute; background: white; border-radius: 20px"></div>
    <div style="width: 360px; height: 345px; left: 990px; top: 1924px; position: absolute; background: white; border-radius: 20px"></div>
    <div style="width: 360px; height: 345px; left: 1410px; top: 1924px; position: absolute; background: white; border-radius: 20px"></div>
    <div style="left: 150px; top: 2289px; position: absolute; color: black; font-size: 32px; font-family: Montserrat Alternates; font-weight: 700; word-wrap: break-word">ДЕВУШКИ</div>
    <div style="left: 570px; top: 2289px; position: absolute; color: black; font-size: 32px; font-family: Montserrat Alternates; font-weight: 700; word-wrap: break-word">ПАРНЯ</div>
    <div style="left: 990px; top: 2289px; position: absolute; color: black; font-size: 32px; font-family: Montserrat Alternates; font-weight: 700; word-wrap: break-word">МАМЫ</div>
    <div style="left: 1410px; top: 2289px; position: absolute; color: black; font-size: 32px; font-family: Montserrat Alternates; font-weight: 700; word-wrap: break-word">ПАПЫ</div>
    <img style="width: 231px; height: 339px; left: 214px; top: 1930px; position: absolute" src="https://via.placeholder.com/231x339" />
    <img style="width: 308px; height: 337px; left: 596px; top: 1932px; position: absolute" src="https://via.placeholder.com/308x337" />
    <img style="width: 281px; height: 344px; left: 1030px; top: 1925px; position: absolute" src="https://via.placeholder.com/281x344" />
    <img style="width: 256px; height: 344px; left: 1462px; top: 1925px; position: absolute" src="https://via.placeholder.com/256x344" />
    <div style="width: 80px; height: 80px; left: 50px; top: 2086px; position: absolute">
        <div style="width: 20px; height: 40px; left: 30px; top: 20px; position: absolute; border: 8px #33363F solid"></div>
    </div>
    <div style="width: 80px; height: 80px; left: 1790px; top: 2086px; position: absolute">
        <div style="width: 20px; height: 40px; left: 50px; top: 20px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 8px #33363F solid"></div>
    </div>
    <img style="width: 731px; height: 648px; left: 257px; top: 485px; position: absolute" src="https://via.placeholder.com/731x648" />
    <img style="width: 542.14px; height: 976.42px; left: 1204.06px; top: 110px; position: absolute; transform: rotate(5.82deg); transform-origin: 0 0" src="https://via.placeholder.com/542x976" />
    <div style="width: 1920px; height: 298px; left: 0px; top: 2514px; position: absolute">
        <div style="width: 1920px; height: 298px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <div style="left: 148px; top: 75px; position: absolute; color: black; font-size: 48px; font-family: JetBrains Mono; font-weight: 400; word-wrap: break-word">UniqueGift</div>
        <div style="left: 60px; top: 138px; position: absolute; color: black; font-size: 40px; font-family: Joan; font-weight: 400; word-wrap: break-word">21.11.24</div>
        <div style="left: 837px; top: 207px; position: absolute; color: black; font-size: 24px; font-family: Joan; font-weight: 400; word-wrap: break-word">ООО «chen’ krutoi sait»</div>
        <div style="width: 182.40px; height: 48px; left: 1677px; top: 60px; position: absolute">
            <div style="width: 48px; height: 48px; left: 134.40px; top: 0px; position: absolute; background: black"></div>
            <div style="width: 48px; height: 48px; left: 67.20px; top: 0px; position: absolute; background: black"></div>
            <div style="width: 48px; height: 48px; left: 0px; top: 0px; position: absolute; background: black"></div>
        </div>
        <img style="width: 78px; height: 78px; left: 60px; top: 60px; position: absolute" src="https://via.placeholder.com/78x78" />
        <img style="width: 272px; height: 272px; left: 9474px; top: 1000px; position: absolute" src="https://via.placeholder.com/272x272" />
    </div>
    <img style="width: 60px; height: 60px; left: 60px; top: 60px; position: absolute" src="https://via.placeholder.com/60x60" />
    <div style="width: 166px; height: 166px; left: 877px; top: 2348px; position: absolute">
        <div style="width: 13.83px; height: 13.83px; left: 76.08px; top: 76.08px; position: absolute; background: #33363F; border-radius: 9999px"></div>
        <div style="width: 13.83px; height: 13.83px; left: 34.58px; top: 76.08px; position: absolute; background: #33363F; border-radius: 9999px"></div>
        <div style="width: 13.83px; height: 13.83px; left: 117.58px; top: 76.08px; position: absolute; background: #33363F; border-radius: 9999px"></div>
    </div>
</div>
</body>
</html>
